In [43]:
import pandas as pd
import json

## Deliverable 1: Extract
----
### Option 1: Use Python Dictionary Methods

1. Import the `backer_info.csv` file into a DataFrame.
2. Iterate through the DataFrame and convert each row to a dictionary. 
3. Iterate through each dictionary and do the following:
    * Extract the dictionary values from the keys using Python list comprehension.
    * Add the values for each row to a new list. 
4. Create a new DataFrame with the retrieved data. 
5. Export the DataFrame as `backers_data.csv`.

In [44]:
# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)
backer_info = pd.read_csv("..\\Crowdfunding-ETL\\backer_info.csv")

backer_info

     backer_id  cf_id              name                  email
0        av166    968    Angelo Vincent      avincent@live.com
1        ha127    563     Hubert Arnold     harnold@yandex.com
2        lg794     65      Loris Goulet     lgoulet@yandex.com
3        tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4        lh506    563        Lexie Hunt         lhunt@live.com
...        ...    ...               ...                    ...
8170     st581     65   Serita Thebault   sthebault@yandex.com
8171     gf637    563   Glenn Foerstner   gfoerstner@yahoo.com
8172     rc983   1114       Robt Collin    rcollin@outlook.com
8173     cz381     65      Corina Zappa     czappa@outlook.com
8174     fg535     65     Freeman Gibbs     fgibbs@outlook.com

[8175 rows x 4 columns]

In [46]:
# Get the data from the first row and convert it to a dictionary.
import json
first_row = backer_info.iloc[0]['backer_info']
converted_data = json.loads(first_row)
for k, v in converted_data.items():
    print(k,v)

# Iterate through the backers DataFrame and convert each row to a dictionary.
dict_values = []
for i, row in backer_info.iterrows():
    data = row['backer_info']
    converted_data = json.loads(data)
    # Iterate through each dictionary (row) and get the values for each row using list comprehension.
    row_values = [v for k, v in converted_data.items()]
    # Append the list of values for each row to a list. 
    dict_values.append(row_values)

# Print out the list of values for each row.
print(dict_values)

KeyError: 'backer_info'

In [47]:
# Create a backers_df DataFrame with the following columns: 'backer_id','cf_id', 'name', and 'email' 
# using the list of values lists. 
backers_df = pd.DataFrame(dict_values, columns=['backer_id','cf_id', 'name', 'email'])
backers_df.head(10)

  backer_id  cf_id              name                  email
0     av166    968    Angelo Vincent      avincent@live.com
1     ha127    563     Hubert Arnold     harnold@yandex.com
2     lg794     65      Loris Goulet     lgoulet@yandex.com
3     tb566    563  Teodora Brunelli  tbrunelli@outlook.com
4     lh506    563        Lexie Hunt         lhunt@live.com
5     lh382    563     Lambert Huber        lhuber@live.com
6     em444    563        Emmy Morin        emorin@live.com
7     at582   1572     Armonda Trani        atrani@live.com
8     id772   1911        Ilana Duke      iduke@outlook.com
9     lw275     65     Leigha Wright       lwright@live.com

In [48]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df.to_csv('backer_info.csv', index=False, encoding='UTF8' )

## Deliverable 1: Extract
----
### Option 2: Use regex 

1. Import the `backer_info.csv` file into a DataFrame. 
2. Extract the "backer_id", "cf_id", "name", and "email using regular expressions."
3. Create a new DataFrame with the retrieved data.
4. Export the DataFrame as `backers_data.csv`.

In [6]:


# Get the backers_info from the crowdfunding_info sheet. 
pd.set_option('max_colwidth', 400)

In [7]:
# Extract the alpha-numeric "backer_id" from the backer_info column using a regex expression 
# and add it as a new column called "backer_id".

In [8]:
# Extract the two to four-digit "cf_id" number from the backer_info column. 
# and add it as a new column called "cf_id".

In [9]:
# Extract the name from the backer_info column and add it as a new column called "name".

In [10]:
# Extract the email from the backer_info column and add it as a new column called "email".

In [11]:
# Create a new DataFrame with the appropriate columns.

In [12]:
# Export the DataFrame as a CSV file using encoding='utf8'.

## Deliverable 2: Transform and Clean Data
----
1. Check the data types of the columns and convert the "cf_id" column to an integer, if necessary.
2. Split the name in the "name" column into first and last names, and add them to "first_name" and "last_name" columns in the DataFrame. 
3. Drop the "name" column in the DataFrame.
4. Place the columns in the following order; "backer_id", "cf_id", "first_name", "last_name" and "email".

In [49]:
# Check data types.
backers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

In [50]:
# Convert cf_id to an integer if necessary.
backers_df['cf_id'].convert_dtypes()
backers_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8175 entries, 0 to 8174
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   backer_id  8175 non-null   object
 1   cf_id      8175 non-null   int64
 2   name       8175 non-null   object
 3   email      8175 non-null   object
dtypes: int64(1), object(3)
memory usage: 255.6+ KB

In [51]:
# Split the "name" column into "first_name" and "last_name" columns.
backers_df[['first_name', 'last_name']] = backers_df['name'].str.split(' ', n=1, expand=True)
backers_df

,backer_id,cf_id,name,email,first_name,last_name
0,av166,968,Angelo Vincent,avincent@live.com,Angelo,Vincent
1,ha127,563,Hubert Arnold,harnold@yandex.com,Hubert,Arnold
2,lg794,65,Loris Goulet,lgoulet@yandex.com,Loris,Goulet
3,tb566,563,Teodora Brunelli,tbrunelli@outlook.com,Teodora,Brunelli
4,lh506,563,Lexie Hunt,lhunt@live.com,Lexie,Hunt
...,...,...,...,...,...,...
8170,st581,65,Serita Thebault,sthebault@yandex.com,Serita,Thebault
8171,gf637,563,Glenn Foerstner,gfoerstner@yahoo.com,Glenn,Foerstner
8172,rc983,1114,Robt Collin,rcollin@outlook.com,Robt,Collin
8173,cz381,65,Corina Zappa,czappa@outlook.com,Corina,Zappa
8174,fg535,65,Freeman Gibbs,fgibbs@outlook.com,Freeman,Gibbs

In [52]:
#  Drop the name column
backers_df = backers_df.drop(columns=['name'])

# Reorder the columns
backer_df = backers_df.reinderx(columns=["backer_id", "cf_id", "first_name", "last_name", "email"])

AttributeError: 'DataFrame' object has no attribute 'reinderx'

In [53]:
backers_df

     backer_id  cf_id                  email first_name  last_name
0        av166    968      avincent@live.com     Angelo    Vincent
1        ha127    563     harnold@yandex.com     Hubert     Arnold
2        lg794     65     lgoulet@yandex.com      Loris     Goulet
3        tb566    563  tbrunelli@outlook.com    Teodora   Brunelli
4        lh506    563         lhunt@live.com      Lexie       Hunt
...        ...    ...                    ...        ...        ...
8170     st581     65   sthebault@yandex.com     Serita   Thebault
8171     gf637    563   gfoerstner@yahoo.com      Glenn  Foerstner
8172     rc983   1114    rcollin@outlook.com       Robt     Collin
8173     cz381     65     czappa@outlook.com     Corina      Zappa
8174     fg535     65     fgibbs@outlook.com    Freeman      Gibbs

[8175 rows x 5 columns]

In [54]:
# Export the DataFrame as a CSV file using encoding='utf8'.
backers_df.to_csv('backers.csv', index=False, encoding='UTF8' )