In [46]:
# Import the Pandas dependency.
import pandas as pd
import re


# Read the contacts string data into a Pandas DataFrame
contacts_string_df = pd.read_csv('..\Crowdfunding-ETL\Resources\contacts_string_data.csv')
contacts_string_df.head()
contacts_df = pd.DataFrame()

In [47]:
# Extract the four-digit contact ID number.
contacts_df['contact_id'] = contacts_string_df['contact_info'].str.extract(r'(\d{4})')

In [48]:
contacts_df['name'] = contacts_string_df['contact_info'].str.extract(r'())

    contact_id
0         4661
1         3765
2         4187
3         4941
4         2199
..         ...
995       3684
996       5784
997       1498
998       6073
999       4939

[1000 rows x 1 columns]

In [51]:
contacts_df['name']=contacts_string_df['contact_info'].str.extract(r'name\s([A-Za-z0-9_.+-]+\s[A-Za-z0-9_.+-])')

In [49]:
contacts_df['email']=contacts_string_df['contact_info'].str.extract(r'email\s([A-Za-z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+)')

In [50]:
contacts_df

    contact_id                                      email
0         4661               cecilia.velasco@rodrigues.fr
1         3765                    mariana.ellis@rossi.org
2         4187                    sofie.woods@riviere.com
3         4941                jeanette.iannotti@yahoo.com
4         2199                   samuel.sorgatz@gmail.com
..         ...                                        ...
995       3684             whitney.noack@laboratorios.org
996       5784              gelsomina.migliaccio@junk.com
997       1498  evangelista.pereira@thompson-peterson.biz
998       6073                  gareth.comolli@tiscali.fr
999       4939              michelangelo.hess@bouygtel.fr

[1000 rows x 2 columns]

In [ ]:
contacts_strings_df['contact_info']